*.txt
*.pdf

dmenu/LICENSE
dmenu/README
dmenu/config.def.h.orig
dmenu/config.def.h.rej
dmenu/dmenu
dmenu/dmenu.c.orig
dmenu/dmenu.c.rej
dmenu/dmenu_path
dmenu/dmenu_run
dmenu/stest
dmenu/*.o

dwm/LICENSE
dwm/README
dwm/dwm
dwm/dwm.png
dwm/*.o

slstatus/LICENSE
slstatus/README
slstatus/components
slstatus/components/*.o
slstatus/slstatus
slstatus/*.o
st/FAQ
st/LEGACY
st/LICENSE
st/README
st/TODO
st/config.def.h.orig
st/st
st/st.info
st/x.c.orig
st/*.o
surf/FAQ.md
surf/LICENSE
surf/README
surf/TODO.md
surf/config.def.h.orig
surf/surf
surf/surf.c.orig
surf/surf.png
surf/webext-surf.so
surf/*.o
tabbed/LICENSE
tabbed/README
tabbed/TODO
tabbed/tabbed
tabbed/xembed
tabbed/*.o
patches/
shots/arch
slock/*.o
slock/LICENSE
slock/README
slock/slock
slock/config.def.h.rej
slock/config.mk.rej
slock/slock.c.rej

farbfeld/2ff
farbfeld/FORMAT
farbfeld/LICENSE
farbfeld/README

sent/LICENSE
sent/example
sent/sent
sent/transparent_test.ff
sent/README.md
sent/drw.o
sent/sent.o
sent/util.o
sent/nyan.png
