dmenu/dmenu
dmenu/dmenu.o
dmenu/stest
dwm/dwm
dwm/dwm.o
README.pdf
farbfeld/2ff
farbfeld/FORMAT
farbfeld/HE-inverted.ff
farbfeld/HE-inverted.png
farbfeld/HE.png
farbfeld/LICENSE
farbfeld/README
farbfeld/ff2jpg
farbfeld/ff2jpg.o
farbfeld/ff2pam
farbfeld/ff2pam.o
farbfeld/ff2png
farbfeld/ff2png.o
farbfeld/ff2ppm
farbfeld/ff2ppm.o
farbfeld/jpg2ff
farbfeld/jpg2ff.o
farbfeld/png2ff
farbfeld/png2ff.o
farbfeld/util.o
patches/
pubkey.txt
sent/HE-inverted.ff
sent/HE.png
sent/LICENSE
sent/README.md
sent/drw.o
sent/example
sent/nyan.png
sent/sent
sent/sent.o
sent/test.sent
sent/transparent_test.ff
sent/util.o
shots/arch/
slock/config.def.h.rej
slock/config.mk.rej
slock/explicit_bzero.o
slock/slock
slock/slock.c.rej
slock/slock.o
