*.pdf
dmenu/LICENSE
dmenu/README
dmenu/config.def.h.orig
dmenu/config.def.h.rej
dmenu/dmenu
dmenu/dmenu.c.orig
dmenu/dmenu.c.rej
dmenu/dmenu.o
dmenu/dmenu_path
dmenu/dmenu_run
dmenu/drw.o
dmenu/stest
dmenu/stest.o
dmenu/util.o
dwm/LICENSE
dwm/README
dwm/config.def.h
dwm/drw.o
dwm/dwm
dwm/dwm.o
dwm/dwm.png
dwm/util.o
slstatus/LICENSE
slstatus/README
slstatus/components
slstatus/components/*.o
slstatus/slstatus
slstatus/slstatus.o
slstatus/util.o
st/FAQ
st/LEGACY
st/LICENSE
st/README
st/TODO
st/config.def.h.orig
st/st
st/st.info
st/st.o
st/x.c.orig
st/x.o
surf/FAQ.md
surf/LICENSE
surf/README
surf/TODO.md
surf/config.def.h.orig
surf/surf
surf/surf-open.sh
surf/surf.c.orig
surf/surf.o
surf/surf.png
surf/webext-surf.o
surf/webext-surf.so
tabbed/LICENSE
tabbed/README
tabbed/TODO
tabbed/tabbed
tabbed/tabbed.o
tabbed/xembed
tabbed/xembed.o
dwm/dwm
dwm/dwm.o
slstatus/slstatus
slstatus/slstatus.o
surf/surf
surf/surf.o
patches/
